form {
    margin: 0px 40px;
    legend {
        text-transform: uppercase;
        color: #b0b8bc;
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-light;
        width: 100%;
    }
    label {
        text-transform: uppercase;
        color: $dark-color;
        font-size: 12px;
    }
}
